/* Blender Heavy */
@font-face {
    font-family: "Blender";
    src: url("https://maxar-marketing.s3.amazonaws.com/fonts/blender/Blender-Heavy.eot");
    src: url("https://maxar-marketing.s3.amazonaws.com/fonts/blender/Blender-Heavy.eot?#iefix") format("embedded-opentype"),
        url("https://maxar-marketing.s3.amazonaws.com/fonts/blender/Blender-Heavy.woff2") format("woff2"),
        url("https://maxar-marketing.s3.amazonaws.com/fonts/blender/Blender-Heavy.woff") format("woff"),
        url("https://maxar-marketing.s3.amazonaws.com/fonts/blender/Blender-Heavy.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

/* Blender bold */
@font-face {
    font-family: "Blender";
    src: url("https://maxar-marketing.s3.amazonaws.com/fonts/blender/Blender-Bold.eot");
    src: url("https://maxar-marketing.s3.amazonaws.com/fonts/blender/Blender-Bold.eot?#iefix") format("embedded-opentype"),
        url("https://maxar-marketing.s3.amazonaws.com/fonts/blender/Blender-Bold.woff2") format("woff2"),
        url("https://maxar-marketing.s3.amazonaws.com/fonts/blender/Blender-Bold.woff") format("woff"),
        url("https://maxar-marketing.s3.amazonaws.com/fonts/blender/Blender-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

/* Blender medium */
@font-face {
    font-family: "Blender";
    src: url("https://maxar-marketing.s3.amazonaws.com/fonts/blender/Blender-Medium.eot");
    src: url("https://maxar-marketing.s3.amazonaws.com/fonts/blender/Blender-Medium.eot?#iefix") format("embedded-opentype"),
        url("https://maxar-marketing.s3.amazonaws.com/fonts/blender/Blender-Medium.woff2") format("woff2"),
        url("https://maxar-marketing.s3.amazonaws.com/fonts/blender/Blender-Medium.woff") format("woff"),
        url("https://maxar-marketing.s3.amazonaws.com/fonts/blender/Blender-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

/* Blender book */
@font-face {
    font-family: "Blender";
    src: url("https://maxar-marketing.s3.amazonaws.com/fonts/blender/Blender-Book.eot");
    src: url("https://maxar-marketing.s3.amazonaws.com/fonts/blender/Blender-Book.eot?#iefix") format("embedded-opentype"),
        url("https://maxar-marketing.s3.amazonaws.com/fonts/blender/Blender-Book.woff2") format("woff2"),
        url("https://maxar-marketing.s3.amazonaws.com/fonts/blender/Blender-Book.woff") format("woff"),
        url("https://maxar-marketing.s3.amazonaws.com/fonts/blender/Blender-Book.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

/* Blender thin */
@font-face {
    font-family: "Blender";
    src: url("https://maxar-marketing.s3.amazonaws.com/fonts/blender/Blender-Thin.eot");
    src: url("https://maxar-marketing.s3.amazonaws.com/fonts/blender/Blender-Thin.eot?#iefix") format("embedded-opentype"),
        url("https://maxar-marketing.s3.amazonaws.com/fonts/blender/Blender-Thin.woff2") format("woff2"),
        url("https://maxar-marketing.s3.amazonaws.com/fonts/blender/Blender-Thin.woff") format("woff"),
        url("https://maxar-marketing.s3.amazonaws.com/fonts/blender/Blender-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

/* Din Regular */
@font-face {
    font-family: "Din";
    src: url("https://maxar-marketing.s3.amazonaws.com/fonts/din/387176_3_0.eot");
    src: url("https://maxar-marketing.s3.amazonaws.com/fonts/din/387176_3_0.eot?#iefix") format("embedded-opentype"),
        url("https://maxar-marketing.s3.amazonaws.com/fonts/din/387176_3_0.woff2") format("woff2"),
        url("https://maxar-marketing.s3.amazonaws.com/fonts/din/387176_3_0.woff") format("woff"),
        url("https://maxar-marketing.s3.amazonaws.com/fonts/din/387176_3_0.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


/* Din Light */
@font-face {
    font-family: "Din";
    src: url("https://maxar-marketing.s3.amazonaws.com/fonts/din/387176_2_0.eot");
    src: url("https://maxar-marketing.s3.amazonaws.com/fonts/din/387176_2_0.eot?#iefix") format("embedded-opentype"),
        url("https://maxar-marketing.s3.amazonaws.com/fonts/din/387176_2_0.woff2") format("woff2"),
        url("https://maxar-marketing.s3.amazonaws.com/fonts/din/387176_2_0.woff") format("woff"),
        url("https://maxar-marketing.s3.amazonaws.com/fonts/din/387176_2_0.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}